
h5{
    font-family: "Montserrat";
}

span{
    font-family: "catamaran";
    color: white;
}






.footer{
    width: 100%;
    height: 150px;
    background: #A0C7E1;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
    &_content{
        width: 230px;
        &-rs{
            font-family: "Montserrat";
            text-decoration: underline;
            color: white;
        }
        &-title{
            color: #3c3c3c;
            opacity: 0.9;
            text-transform: uppercase;
        }
    }
}




